* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0f0dd;
    color: #3c3c3c;
}


header {
    background-color: #5C3B1D;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}

header h1 {
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

header img {
    height: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 1.5rem;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.form_editar_misas {
    display: flex;
    gap: 24px;
    padding: 20px;
    width: 40%;
    height: 20%;
    align-items: center;
}

.editar_misas {
    background: #ffffff;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editar_misas:hover{
    transform: translateY(-5px);
}

.editar_misas h3 {
    margin: 10px 20px 50px;
    font-size: 1.2em;
    color: #333;
}

.hero-text {
    background-color: #8B5C3E;
    color: white;
    padding: 1.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
    border: 3px solid #E6C16E;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.hero-text strong {
    font-size: 1.6em;
}

input[type="text"],
input[type="date"],
input[type="url"],
input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}
select{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}
footer {
    background-color: #3c2b1a;
    color: white;
    text-align: center;
    padding: 2rem;
    font-size: 0.9rem;
    margin-top: 4rem;
}
